<!DOCTYPE html>
<html>
<head>
  <title>MIRACLE</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>MIRACLE</h1>
    <p>WELCOME TO MIRACLE,<br>HOW ARE YOU FEELING TODAY?</p>
    <div class="input-wrapper">
      <div class="yellow-box">
        <input type="text" class="styled-input" id="feeling-input" placeholder="ENTER YOUR FEELING...">
      </div>
    </div>
    <button onclick="validateAndRedirect()">ENTER</button>
    <!-- <button>ENTER</button> -->
  </div>

  <script>
    function validateAndRedirect() {
      var feelingInput = document.getElementById("feeling-input");
      if (feelingInput.value.trim() === "") {
        alert("Please enter your feeling.");
      } else {
        window.location.href = "../quote/quote.html";
      }
    }
  </script>
</body>
</html>