<!DOCTYPE html>
<html>
<head>
  <title>MIRACLE</title>
  <link rel="stylesheet" href="quotes.css">
</head>
<body>

  <div class="container">
    <h1><a href="../../component/hero/index.html">MIRACLE</a></h1>

    <div class="quote-container">
      <div class="card">
          <div class="quote-box">
              <div class="quote">
                  The best method to start doing something is to stop talking and start doing.
              </div>
          </div>
      </div>
      <div class="imgcard">
          <div class="quote-boximg">
              <img src="../../assets/Component 1c.svg">
          </div>
      </div>
  </div>
</div>
  <script src="script.js"></script>
</body>
</html>



