body {
  background: #000;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #FBFF32;
  font-variant-numeric: lining-nums tabular-nums stacked-fractions;
  font-family: "Megrim";
  font-size: 200px;
  font-style: normal;
  font-weight: 500;
  line-height: 81.066px; /* 40.533% */
  letter-spacing: 27px;
}

p {
  color: #FDFDFD;
  text-align: center;
  font-family: "Megrim";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.yellow-box {
  background: linear-gradient(90deg, #D8DB56 0%, #DFB23F 0.01%, #E7EB1A 100%);
  padding: 10px 20px;
  border-radius: 21.5px;
  display: flex;
  align-items: center;
}

.styled-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 21.5px;
  background: transparent;
  padding: 0 10px;
  font-size: 15px;
  font-family: Megrim;
  color: #000;
  text-align: center;
}

.styled-input::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-family: Megrim;
  color: #000;
  text-align: center;
  pointer-events: none;
}

.styled-input:focus {
  outline: none;
}

button {
  color: #000000;
  font-family: Megrim;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding: 0px 10px;
  line-height: normal;
  border-radius: 21.5px;
  background: linear-gradient(90deg, #D8DB56 0%, #DFB23F 0.01%, #E7EB1A 100%);
}

button:hover {
  background-color: #FFC107; /* More intense yellow */
  cursor: pointer;
}