<!DOCTYPE html>
<html>
<head>
  <title>MIRACLE</title>
  <link rel="stylesheet" href="../static/quotes.css">
</head>
<body>

  <div class="container">
    <h1><a href="{{ url_for('index') }}">MIRACLE</a></h1>

    <div class="quote-container">
      <div class="card">
          <div class="quote-box">
              <div class="quote">
                {{ feeling }}
              </div>
          </div>
      </div>
      <div class="imgcard">
          <div class="quote-boximg">
              <img src="{{ url_for('static', filename='Component 1c.svg') }}">
          </div>
      </div>
  </div>
</div>
</body>
</html>
